body {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:coral;
    margin-top: 16px;
    gap: 16px;
}

button {
    background-color: mediumblue;
    color: white;
    width: 128px;
    height: 64px;
    font-size: 16px;
    font-weight: 750;
    border: none;
    border-radius: 8px;
}

button:hover {
    background-color: darkblue;
}

#container {
    display: flex;
    flex-direction: column;
    flex: 0.5;
    flex-shrink: 0.3;
    flex-wrap: wrap;
    align-items: stretch;
    align-content:stretch;
    width: 712px; height: 50%;
    min-height:10vh;
    background-color: darkgreen;
    aspect-ratio: 1;
}